@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

a,
button:not(:disabled),
[role='button'],
label[for],
[tabindex]:not([tabindex='-1']) {
  cursor:
    url('./assets/CursorPointerIcon.svg') 4 1,
    pointer;
}

#root {
  height: 100%;
}

p {
  margin: 0;
}
